// colors
$primary-color: #1665d8;
$primary-color-hover: #1e56a8;
$primary-color-active: #0f366e;
$primary-color-active: #0f366e;
$primary-color-600: #1665d899;

$error-color: #ed4337;

$card-color: #3b3b3b;
$border-color: #6b6b6b;
$text-color: rgba(255, 255, 255, 0.95);
$text-color-600: rgba(255, 255, 255, 0.6);
$background-color: #242424;

$box-shadow-small: 0 0 0.25rem rgba(255, 255, 255, 0.15);

$white: #ffffff;
$black: #000000;
